body {
    background: linear-gradient(127deg, rgba(0,87,167,.8), rgba(0,87,167,0) 70.71%), 
    linear-gradient(217deg, rgba(238,35,62,.8), rgba(238,35,62,0) 70.71%), 
    linear-gradient(336deg, rgba(92, 172, 164,.8), rgba(92, 172, 164,0) 70.71%);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 1em 1em;
    text-align: center;
  }

li {
    display: inline-block;
    background-color: rgba(255, 255, 255, 15%);
}
a {
    display: inline-block;
    font-family: courier;
    padding: 1em;
    color: whitesmoke;
}

h2 {
    font-family: Courier;
}

footer {
    display: block;
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: .9em;
    font-family: Courier;
}

.angel {
    max-width: 20%;
    height: auto;
}

.blog-image {
    max-width: 60%;
    height: auto;
}

.main {
    position: relative;
    text-align: center;
    margin: auto;
    padding: 0 1em;
    top: 1em;
    font-size: 1.5em;
    font-family: Helvetica;
    color: whitesmoke;
}

.name {
    position: relative;
    text-align: center;
    margin: auto;
    padding: 0 1em;
    font-family: Courier;
    font-size: 3em;
    color: whitesmoke;
}

.main-paragraph {
    position: relative;
    text-align: center;
    margin: 2em 5em;
    padding: 2em 2em;
    top: 1em;
    font-size: 1.5em;
    font-family: Helvetica;
    color: whitesmoke;
    background-color: rgba(255, 255, 255, 15%);
}
.centered {
    display: block;
    text-align: center;
}

.border-example {
    border: 2px solid blue;
}

.margin-example {
    margin-top: 200px;
    margin-bottom: 200px;
    margin-left: 200px;
    margin-right: 200px;
}

.padding-example {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

@media (min-width: 320px) and (max-width: 768px) {
    body {
        background: rgba(92, 172, 164,.8);
    }
    .main-paragraph {
        margin: 2em 1em;
        padding: 1em 1em;
        font-size: 1em;
    }
    .name {
        font-size: 2em;
    }
}

@media (min-width: 768px) and (max-width: 1200px) {
    body {
        background: rgba(238,35,62,.8)
    }
}
